[submodule "py_nissan_leaf_obd_ble"]
	path = custom_components/nissan_leaf_obd_ble/py_nissan_leaf_obd_ble  # Relative path
	url = https://github.com/rcojoe/py-nissan-leaf-obd-ble.git
[submodule "custom_components/nissan_leaf_obd_ble/py_nissan_leaf_obd_ble"]
	path = custom_components/nissan_leaf_obd_ble/py_nissan_leaf_obd_ble
	url = https://github.com/rcojoe/py-nissan-leaf-obd-ble.git
